@import '../../style/variables.scss';

.card {
    width: 370px;
    height: 416px;
    border-radius: 10px;
    position: relative;
    padding-left: 48px;
    cursor: pointer;
    .label {
        display: inline;
        padding: 9px 19px 8px 16px;
        background-color: $white;
        color: $darkBrown;
        border-radius: 20px;
        position: absolute;
        bottom: 122px;
    }
    .title {
        color: $white;
        position: absolute;  
        bottom: 53px;
        font-weight: 400;
    }
    
}
.active {
    box-shadow: inset  0 0 0  7px $active;
}

@media (max-width: 1191px) and (min-width: 1041px) {
    .card {
        max-width: 330px;
    }
} 
@media (max-width: 1040px) and (min-width: 375px) {
    .card {
        max-width: 330px;
        background-size: 330px auto;
    }
} 