@import '../../style/variables.scss';
.header {
    height: 400px;
    background-color: $headerBGColor;
    padding-top: 16px;
    .navigation {
        margin: 0 auto ;
        width: 1170px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
            color: $white;
        }
        &__link {
            width: 522px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            li {
                list-style: none;
            }
        }
        .logo {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            .agency {
                margin-left: 10px;
                margin-bottom: 5px;
            }
        }
    }
    .portfolio {
        text-align: center;
        margin-top: 93px;
        color: $white;    
        font-weight: 400;
        font-size: 72px;  
    }
    .description {
        margin: 35px auto 0;
        text-align: center;
        width: 570px;
        color: $lightGrey; 
        line-height: 32px;
    }
}

@media (max-width: 1191px) and (min-width: 1041px) {
    .header .navigation {
        width: 1040px;
        &__link {
            width: 450px;
        }
    }
} 
@media (max-width: 1040px) and (min-width: 375px) {
    .header {
        padding-left: 23px;
        padding-right: 23px;
        .navigation {
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        .description {
            margin-top: 22px;
            width: 100%;
        }
        .portfolio {
            margin-top: 80px;
            font-size: 56px;  
        }
    }

} 