$headerBGColor: #28293E;
$white: #FFFFFF; 
$grey: #676877;
$lightGrey: #B1B1B9;
$BGColor: #FDF0E9;
$brown: #7F6454;
$darkBrown: #391400;
$btnShadow: rgba(57, 20, 0, 0.08);
$active: #4fe24a;
$dropdownBorder: #f3d1bf;
$dropdownTrigger: #EF6D58;